.post {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-bottom: 0.5rem;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
