<div *ngIf="!loading; else loader">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control" [ngClass]="{invalid: form.get('title')?.touched && form.get('title')?.invalid}">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" formControlName="title">
      <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="validation">
        <small *ngIf="form.get('title') && form.get('title')?.errors?.['required']">
          Please, enter your title!
        </small>
      </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: form.get('text')?.touched && form.get('text')?.invalid}">
      <label for="text">Text:</label>
      <input type="text" id="text" name="text" formControlName="text">
      <div *ngIf="form.get('text')?.touched && form.get('text')?.invalid" class="validation">
        <small *ngIf="form.get('text') && form.get('text')?.errors?.['required']">
          Please, enter your text!
        </small>
      </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: form.get('author')?.touched && form.get('author')?.invalid}">
      <label for="author">Author:</label>
      <input type="text" id="author" name="author" formControlName="author">
      <div *ngIf="form.get('author')?.touched && form.get('author')?.invalid" class="validation">
        <small *ngIf="form.get('author') && form.get('author')?.errors?.['required']">
          Please, enter your author!
        </small>
      </div>
    </div>
    <div class="form-control" [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" formControlName="name">
      <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid" class="validation">
        <small *ngIf="form.get('name') && form.get('name')?.errors?.['required']">
          Please, enter your name!
        </small>
      </div>
    </div>
    <button [disabled]="form.invalid || loading" type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
<ng-template #loader>
  <p class="text-center">Loading...</p>
</ng-template>
