<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter the admin panel</h2>
  <div class="alert alert-danger" *ngIf="authService.err$ |  async as error">{{error}}</div>
  <div class="alert alert-info" *ngIf="message">{{message}}</div>
  <div class="form-control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" formControlName="email">
    <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="validation">
      <small *ngIf="form.get('email') && form.get('email')?.errors?.['required']">
        Please, enter your email!
      </small>
      <small *ngif="form.get('email') && form.get('email')?.errors?.['email']">
        The email is invalid! Please enter a valid email.
      </small>
    </div>
  </div>
  <div class="form-control" [ngClass]="{invalid: form.get('password')?.touched && form.get('password')?.invalid}">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" formControlName="password">
    <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="validation">
      <small *ngIf="form.get('password') && form.get('password')?.errors?.['required']">
        Please, enter your password!
      </small>
      <small *ngif="form.get('password') && form.get('password')?.errors?.['minlength']">
        The password cannot be less than {{form.get('password')?.errors?.['requiredLength']}} letters, now it
        is {{form.get('password')?.errors?.['actualLength']}}!
      </small>
    </div>
  </div>
  <button [disabled]="form.invalid || loading" type="submit" class="btn btn-primary">Login</button>
</form>
